{% extends 'doc/base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}

    <header style="background-image: url('/static/img/portfolio/about.jpeg');">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" style="color:black;">About Us</h1>
                <br>
                <h3 class="section-heading" style="color:black;">Helping you Understand your symptoms better!</h3>
                <hr>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More About Us!</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <hr class="light">
                    <h3 class="section-heading">The WebDoc Mission</h3>
                    <p class="text-faded">The WebDoc Symptom Checker
                         Our mission is to be your most trusted ally in your pursuit of health and well-being.
                    </p>
                    <hr class="light">
                    <h3 class="section-heading">The WebDoc Symptom Checker Overview</h3>
                    <p class="text-faded">

                        The WebDoc Symptom Checker is very different. For the first time, it gives you access to a highly sophisticated medical diagnosis tool that is much more powerful than previously available symptom checkers. Using the latest searching technologies, the system can take a pattern of symptoms in everyday language and instantly compute from our vast database of diseases, the most likely ones.
                        <br>
                        <br>
                        You can depend on us to provide expert content along with genuine caring. Both of which will support, guide, and inspire you toward the best possible health outcomes for you and your family.
                        <br>
                        <br>
                        The WebDoc Symptom Checker puts the world's medical knowledge at your fingertips and enables you to make sense of your symptoms. It will change the way you speak to your doctor forever!
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


