{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block content %}

    <header style="background-image: url('/static/img/portfolio/blog.jpg');">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Blog</h1>
                <hr>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Our Blogs!</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {% if all_blogs  %}
                        <h2>Blogs:</h2>
                        <br>
                        <ul>
                            {% for blog in all_blogs %}
                            <li><a style="color: white; font-size:20px;" href="{% url 'doc:blogpost' blog.id %}">{{ blog.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h3>We don't have any blogs currently!</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}