{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Disease_Detail{% endblock %}
{% block content %}


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1>{{ blog.title }}</h1>
                    <br>
                    <p>{{ blog.content }}</p>
                    <br>
                    <p>Posted on - {{ blog.time }}</p>
                    <h3>- By {{ blog.did }}</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
