{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Symptom Checker{% endblock %}
{% block content %}

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <h1>Symptom Checker </h1>
                    <h3>Select you symptoms</h3>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {{form}}
                        <br>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-info" value="Submit Button">Check for diseases</button>
                    </form>
                    <br>
                    <br>

                    {% if diseases %}
                    <h3>Diseases:</h3>
                    <br>
                    {% for disease in diseases %}
                        <p>{{ disease.did }}</p>
                    {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}