{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {% if user.is_authenticated %}
                    <h2>Welcome, {{ user.get_full_name }} {{ user.username }}!</h2>
                    <br>
                    <h3>Your details:</h3>
                    <br>

                    {% if user.d_profile.d_gender %}
                    <p>Name: {{ user.d_profile.d_name }}</p>
                    <p>Gender: {{ user.d_profile.d_gender }}</p>
                    <p>Clinic Address: {{ user.d_profile.clinic_add }}</p>
                    <p>Your birth date: {{ user.d_profile.d_dob }}</p>
                    <p>Visiting hours: {{ user.d_profile.visit_hours }}</p>
                    <p>Occupation Details: {{ user.d_profile.d_detail }}</p>
                    <p>Specialization: {{ user.d_profile.specialization }}</p>
                    <p>Contact: {{ user.d_profile.d_contact }}</p>
                    <p><a style="color:black;" href="/patients">List of patients</a></p>

                    {% else %}
                    <p>Name: {{ user.p_profile.p_name }}</p>
                    <p>Gender: {{ user.p_profile.p_gender }}</p>
                    <p>Address: {{ user.p_profile.p_address }}</p>
                    <p>Your birth date: {{ user.p_profile.p_dob }}</p>
                    <p>Blood Group: {{ user.p_profile.p_blood_grp }}</p>
                    <p>Contact: {{ user.p_profile.p_contact }}</p>

                    {% endif %}

                    <br>
                    <h3><a style="color:black;" href="/logout">Logout</a></h3>
                    {% else %}
                    <p><a style="color:black;" href="/login">Login</a></p>
                    <p><a style="color:black;" href="/register">Register</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
