{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Disease_Detail{% endblock %}
{% block content %}


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1>{{ disease.dis_name }}</h1><br>
                    <p>Type of disease: {{ disease.dis_type }}</p>
                    <p>{{ disease.dis_detail }}</p>
                    <p>Medicines: {{ disease.medicine }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
