{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Diseases{% endblock %}
{% block content %}

    <header style="background-image: url('/static/img/portfolio/diseases.jpg');">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Diseases A-Z</h1>
                <hr>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Click here for Diseases list</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {% if all_diseases  %}
                        <h3>Here's a list of all Diseases:</h3><br>

                            {% for disease in all_diseases %}
                            <p><a style="color: black;" href="{% url 'doc:dis_detail' disease.id %}">{{ disease.dis_name }}</a></p>
                            {% endfor %}

                    {% else %}
                        <h3>There are no Diseases in our Database probably our data entry guys are too lazy!</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
