{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

    <header style="background-image: url('/static/img/header.jpg');">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Better Information, Better Health</h1>
                <hr>
                <h2 style="color: purple;">Making your Health Care an easier task!</h2><br>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <h3>SymptomChecker</h3>
                    <p class="text-faded">Experiencing symptoms but not sure what they mean?<br>
Use our Symptom Checker to help determine possible causes and treatments, and when to see a doctor.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Assess Your Symptoms</h3>
                        <p class="text-muted">Want to know what's causing your aches, pain, or rashes? We can identify conditions related to your symptoms.
</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Learn About Possible Causes</h3>
                        <p class="text-muted">Get a better understanding of a condition: Discover if you're at risk, how it's diagnosed, and what you can do about it.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Blogs</h3>
                        <p class="text-muted">Be Up to date with our blogs written by specialists and know what our users are saying!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Live Chat</h3>
                        <p class="text-muted">Talk to experts. Answer some questions, get advice!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/1.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/1.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Blog Title
                                </div>
                                <div class="project-name">
                                    Author Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/2.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/2.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Blog Title
                                </div>
                                <div class="project-name">
                                    Author Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/3.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/3.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Blog Title
                                </div>
                                <div class="project-name">
                                    Author Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/4.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/4.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Blog Title
                                </div>
                                <div class="project-name">
                                    Author Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <a href="{% static 'img/portfolio/fullsize/5.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/5.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Blog Title
                                </div>
                                <div class="project-name">
                                    Author Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="{% static 'img/portfolio/fullsize/6.jpg' %}" class="portfolio-box">
                        <img src="{% static 'img/portfolio/thumbnails/6.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Blog Title
                                </div>
                                <div class="project-name">
                                    Author Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
