{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Patient_Detail{% endblock %}
{% block content %}


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Name: {{ patient.p_name }}</p>
                    <p>Gender: {{ patient.p_gender }}</p>
                    <p>Address: {{ patient.p_address }}</p>
                    <p>Your birth date: {{ patient.p_dob }}</p>
                    <p>Blood Group: {{ patient.p_blood_grp }}</p>
                    <p>Contact: {{ patient.p_contact }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
