{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Patients{% endblock %}
{% block content %}

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {% if all_patients  %}
                        <h3>Here's a list of all patients:</h3>

                            {% for patient in all_patients %}
                            <p><a style="color: black;" href="{% url 'doc:patient_detail' patient.id %}">{{ patient.p_name }}</a></p>
                            {% endfor %}

                    {% else %}
                        <h3>There are no Patients in our System! Please try again later.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
