{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Symptoms{% endblock %}
{% block content %}

    <header style="background-image: url('/static/img/portfolio/symptoms.jpg');">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Symptoms</h1>
                <hr>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Click here for Symptoms list</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {% if all_symptoms  %}
                        <h2>Symptoms A-Z</h2>
                        <br>
                        <h3>Here's a list of all Symptoms:</h3><br>
                            {% for symptom in all_symptoms %}
                            <p>{{ symptom.s_name }}</p>
                            {% endfor %}

                    {% else %}
                        <h3>There are no Symptoms in our Database probably our data entry guys are too lazy!</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
