{% extends 'doc/base.html' %}
{% load static %}
{% block title %}tod{% endblock %}
{% block content %}

    <header style="background-image: url('/static/img/todimage.jpg');">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" style="color:blue">Types of Doctors</h1>
                <hr>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Click here for Doctors' list</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {% if all_tod %}
                        <h3>Here's a list of all types of Doctors:</h3><br>

                            {% for TypeofDoc in all_tod %}
                            <p><a style="color: black;" href="{% url 'doc:tod_detail' TypeofDoc.id %}">{{ TypeofDoc.category }}</a></p>
                            {% endfor %}

                    {% else %}
                        <h3>There are no Type of doctors in our Database probably our data entry guys are too lazy!</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}