{% extends 'doc/base.html' %}
{% load static %}
{% block title %}tod_detail{% endblock %}
{% block content %}


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1>{{ TypeofDoc.category }}</h1><br>
                    <p>{{ TypeofDoc.detail }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
