{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2>Log in</h2>
                    {% if form.errors %}
                    <p style="color: black">Your username and password didn't match. Please try again.</p>
                    {% endif %}
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% for field in form %}
                      <p>
                        {{ field.label_tag }}<br>
                        {{ field }}<br>
                        {% for error in field.errors %}
                          <p style="color: black">{{ error }}</p>
                        {% endfor %}
                        {% if field.help_text %}
                          <p><small style="color: grey">{{ field.help_text }}</small></p>
                        {% endif %}
                      </p>
                    {% endfor %}
                     <button type="submit" class="btn btn-primary btn-block">Login</button>
                    <a style="color:blue;" href="{% url 'doc:register' %}">New to WebDoc+? Sign up</a>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}