{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2>Sign up as Patient</h2>
                    <form method="post">
                      {% csrf_token %}
                      {% for field in p_form %}
                        <p>
                          {{ field.label_tag }}<br>
                          {{ field }}
                          {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                          {% endfor %}
                        </p>
                      {% endfor %}
                      <button type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
