{% extends 'doc/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2>Sign up as:</h2>
                    <p><a style="color: black;" href="/doctor_register">Doctor</a></p>
                    <p><a style="color: black;" href="/patient_register">Patient</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
